html {
}
body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}
.header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    z-index: 999;
    background-color: transparent;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.navbar-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.header-categories-ul {
    display: flex;
    list-style: none;
    gap: 50px;
    font-family: "Roboto";
    padding-right: 20px;
}

.header-navlink {
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
}

.header-navlink:visited {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.logo-container {
    display: flex;
    height: 100%;
    cursor: pointer;

}
.logo{
    width: 60px;
    padding-left: 10px;
}
.home {
    height: 600vh;
}

.center-logo-container {
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    transition: opacity 0.7s ease;
}
.center-logo {
    width: 80px;
    top: 50%;
    transform: translateY(-50%);
}
.center-logo-container2 {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.4s ease;
}
.center-logo2 {
    width: 90px;
    transform: translateX(-50%);
}
.slider-wrapper {
    position: sticky;
    top: 0px;
    overflow: hidden;
}

.slider {
    display: flex;
    justify-content: center;
    width: max-content;
    height: 100vh;
    
}
.slide {
    display: flex;
    width: 65vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}


.slide-image {
    z-index: 998;
    pointer-events: auto;
    cursor: pointer;
}

.home2{
    width: 100%;
    height: 100vh;
    padding-bottom: 20vh;
}

.home2-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.home2-title-container {
    display: flex;
    width: 75%;
    justify-content: start;
    opacity: 0;
    transition: opacity 1s ease;
}


.home2-title {
    font-family: "Nunito Sans";
    font-weight: 1000;
    font-size: 40px;
}





.category-slider {
    display: flex;
    padding-top: 40px;
    display: flex;
    width: 80%;
    gap: 20px;
    justify-content: space-around;
    overflow-y: hidden;
    overflow-x: scroll;
}
.category-slider::-webkit-scrollbar {
    display: none;
}
.category-slide {
    width: max-content;
    cursor: pointer;
}

.category-slide-image-container {
    display: flex;
    justify-content: center;
    width: 180px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
}
.category-slide-image {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.category-slide-caption-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.category-slide-caption {
    font-family: "Inconsolata";
    font-size: 18px;
}

.home3 {
    display: flex;
    height: 300vh;
    padding-bottom: 20vh;
}
.home3-content-wrapper {
    overflow: hidden;
    position: sticky;
    top: 0px;
    height: 100vh;
}
.home3-slide-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: sticky;
    top: 0px;
}

.home3-slider {
    display: flex;
    width: max-content;

}
.home3-slide {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 65vw;
}

.home3-slide-image-container{
    display: flex;
    height: 250px;
    width: 200px;
}

.home-slide3-images {
    width: 100%;
    object-fit: cover;
}

.home3-title-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 998;
    opacity: 0;
    transition: opacity 1s ease;
}
.slogan {
    display: flex;
    width: max-content;
    font-family: "Nunito Sans";
    font-weight: 1000;
    font-size: 80px;
}

.home3-logo-container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 998;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.home3-logo {
    width: 150px;
}


.home4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.home4-content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.home4-slider-wrapper {
    display: flex;
    justify-content: center;
    width: 100%
}

.home4-slider {
    display: flex;
    width: 80%;
    overflow: scroll;
    border-radius: 10px;
}

.home4-slider::-webkit-scrollbar {
    display: none;
}

.home4-image-container {
    display: flex;
    width: 400px;
    height: 350px;
    margin: 10px;
    cursor: pointer;
}

.home4-image{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.home4-title-container {
    display: flex;
    justify-content: center;
}
.home4-title{
    font-family: "Nunito Sans";
    font-weight: 1000;
    font-size: 35px;
    width: 75%;
}












/*LOGIN PAGE CSS*/

.login-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.login-page-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.login-page-logo-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
.login-page-logo {
    width: 100px;
}

.login-page-text-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
.login-page-text {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 20px;
    color: rgba(97, 97, 97, 0.87);
}

.login-form-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    width: 50%;
}

.login-email-input-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.login-password-input-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.login-email-input {
    width: 400px;
    height: 25px;
    font-size: 17px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.477);
    padding: 5px;
}

.login-password-input {
    width: 400px;
    height: 25px;
    font-size: 17px;
    border: 1px solid rgba(0, 0, 0, 0.477);
    border-radius: 8px;
    padding: 5px;
}
.login-button-container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.login-button {
    width: 100px;
    background-color: black;
    border: 1px solid black;
    color: rgb(231, 231, 231);
    border-radius: 20px;
    padding: 8px;
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 500;
    cursor: pointer;
}

.login-button:hover {
    width: 100px;
    background-color: black;
    border: 1px solid black;
    color: rgb(231, 231, 231);
    border-radius: 20px;
    padding: 8px;
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 500;
    cursor: pointer;
    scale: 1.05;
    transition: scale 0.1s;
}


/*Register page css*/

.name-input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.first-name-input {
    width: 188px;
    height: 25px;
    font-size: 17px;
    border: 1px solid rgba(0, 0, 0, 0.477);
    border-radius: 8px;
    padding: 5px;
}

.last-name-input {
    width: 188px;
    height: 25px;
    font-size: 17px;
    border: 1px solid rgba(0, 0, 0, 0.477);
    border-radius: 8px;
    padding: 5px;
}

.username-input-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.username-input {
    width: 400px;
    height: 25px;
    font-size: 17px;
    border: 1px solid rgba(0, 0, 0, 0.477);
    border-radius: 8px;
    padding: 5px;
}



.error-message-container{
    position: relative;
}